.carousel-item {backface-visibility: visible;}

.carousel-inner > .item {
    -webkit-backface-visibility: visible;
            backface-visibility: visible;
}
.carousel-inner{overflow:visible} 

carousel-item-next{
    transition: transform 0s ease-in-out;
  }
  
  .carousel-item-prev{
      transition: transform 0s ease-in-out;
  }
  .carousel-item-left {
      transform: translateX(-100%);
  }
  .carousel-item-right {
      transform: translateX(100%);
  }

  .carousel-item {
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
}

.carousel-item img{
   height: 700px;
}
